<% content_for(:title) { "Rediger søgeagent" } %>

<header>
  <%= link_to "← Søgeagent", @search_agent %>
  <h1><%= content_for :title %></h1>
</header>

<div>
  <%= render 'form', search_agent: @search_agent %>
</div>

<div>
  <%= button_to "Slet søgeagent", search_agent_path(@search_agent), method: :delete, data: { turbo_confirm: "Er du *helt* sikker?" } %>
</div>