<% content_for(:title) { "Søgeagenter" } %>

<header class="margin-top-double text-align-center">
  <h1><%= content_for :title %></h1>
  <%= link_to "Opret søgeagent", new_search_agent_path %>
</header>

<div class="centered margin-top">
  <ul>
    <% @search_agents.each do |search_agent |%>
      <li>
        <%= link_to search_agent.name, search_agent %>
      </li>
    <% end %>
  </ul>
</div>