<% content_for(:title) { "Søgeagenter" } %>

<h1 class="title"><%= content_for :title %></h1>
<%= link_to "Ny søgeagent", new_search_agent_path, class: "button is-link" %>

<div>
  <ul>
    <% @search_agents.each do |search_agent |%>
      <li class="mt-6">
        <%= link_to search_agent.name, search_agent %>
        <p>Søgning: “<%= search_agent.query %>”</p>
      </li>
    <% end %>
  </ul>
</div>