<% content_for(:title) { "Opret søgeagent" } %>

<header>
  <%= link_to "← Søgeagenter", search_agents_path %>
  <h1 class="title"><%= content_for :title %></h1>
</header>

<%= render 'form', search_agent: @search_agent %>
