<h1>Partier</h1>

<% @parties.group_by { |g| g.started_at.year }.each do |year, group| %>
<h2 class="margin-top"><%= year %></h2>
<ul>
  <% group.each do |party| %>
    <li><%= party.abbreviation %> <%= link_to party.name, party %></li>
  <% end %>
</ul>
<% end %>