<h1>Emneord: <%= @emneord.emneord %></h1>

<div class="flex flex-wrap gap">
  <div>
    <h2>Sager</h2>
    <ul>
      <% @emneord.sags.each do |sag| %>
        <li><%= link_to truncate(sag.titelkort), oda_case_path(sag) %></li>
      <% end %>
    </ul>
  </div>

  <div>
    <h2>Dokumenter</h2>
    <ul>
      <% @emneord.dokuments.each do |dokument| %>
        <li><%= link_to truncate(dokument.titel), oda_document_path(dokument) %></li>
      <% end %>
    </ul>
  </div>
</div>