<h1 class="margin-top-double">Emneord: <%= @emneord.emneord %></h1>

<div class="flex flex-wrap gap margin-top">
  <div>
    <h2>Sager</h2>
    <ul class="margin-top">
      <% @emneord.sags.each do |sag| %>
        <li><%= link_to truncate(sag.titelkort), oda_case_path(sag), title: sag.titel %></li>
      <% end %>
    </ul>
  </div>

  <div>
    <h2>Dokumenter</h2>
    <ul class="margin-top">
      <% @emneord.dokuments.each do |dokument| %>
        <li><%= link_to truncate(dokument.titel), oda_document_path(dokument), title: dokument.titel %></li>
      <% end %>
    </ul>
  </div>
</div>