<p>Du er ved at logge ind på ft.kfvs.dk, hvor du kan adminstrere dine søgeagenter.</p>

<p>For at komme videre (og bekræfte din email adresse), skal du bruge følgende link:</p>

<p><%= link_to "Verifier email og log ind her", @url %></p>