<p>Du er ved at bekræfte din e-mailadresse på ft.kfvs.dk, for at kunne aktivere dine søgeagenter.</p>

<p>For at komme videre (og bekræfte din e-mailadresse), skal du bruge følgende link:</p>

<p><%= link_to "Verifier email og aktiver søgeagenter", @url %></p>