<p>
  Side <%= @page.number %> af <%= @page.recordset.page_count %> (<%= @page.recordset.records_count %> i alt).
  <% unless @page.last? %>
    <%= link_to "Næste side", url_for(request.parameters.merge( page: @page.next_param, search: params[:search])) %>
  <% end %>
</p>
