
<div class="margin-top">

  Side <%= @page.number %> af <%= @page.recordset.page_count %> (<%= @page.recordset.records_count %> i alt).
  <% unless @page.last? %>
    <%= link_to "Næste side", { page: @page.next_param, search: params[:search] } %>
  <% end %>
</div>
