<h1>Entitet- & kollone-beskrivelser</h1>

<table>
  <thead>
    <tr>
      <th>Entitet</th>
      <th>Kollone</th>
      <th>Beskrivelse</th>
    </tr>
  </thead>
  <tbody>
    <% @beskrivelser.each do |beskrivelse| %>
      <tr>
        <td><%= beskrivelse.entitetnavn %></td>
        <td><%= beskrivelse.kollonenavn %></td>
        <td><%= beskrivelse.beskrivelse %>:</td>
      </tr>
    <% end %>
  </tbody>
</table>