<h1>Entitet- & kolonne-beskrivelser</h1>
<ul>
  <% @beskrivelser.each do |beskrivelse| %>
    <li>
      <%= entitet.entitetnavn %>:
      <%= entitet.kolonnenavn %>:
      <em><%= entitet.beskrivelse %></em>
    </li>
  <% end %>
</ul>