<h1>Entitet- & kollone-beskrivelser</h1>
<ul>
  <% @beskrivelser.each do |beskrivelse| %>
    <li>
      <%= beskrivelse.entitetnavn %>
      /
      <%= beskrivelse.kollonenavn %>:
      <em><%= beskrivelse.beskrivelse %></em>
    </li>
  <% end %>
</ul>