<% content_for(:title) { "Min bruger: #{Current.user.email_address}" } %>

<header>
  <h1><%= content_for :title %></h1>
  <%= button_to "Log ud", device_path, method: :delete %>
</header>

<div>

  <details>
    <summary>
      <span>Slet min bruger…</span>
    </summary>
    <div>
      <p>Er du sikker på at du vil slette din bruger?</p>
      <%= button_to "Slet min bruger", user_path, method: :delete, data: { turbo_confirm: "Er du *helt* sikker?" } %>
    </div>
  </details>
</div>
