<% content_for(:title) { "Min bruger" } %>

<header class="margin-top-double text-align-center">
  <h1><%= content_for :title %></h1>
  <%= button_to "Log ud", device_path, method: :delete %>
</header>

<div class="centered">

  <details class="margin-top-double">
    <summary class="hide-when-open">
      <span class="txt-negative">Slet min bruger…</span>
    </summary>
    <div class="txt-negative">
      <p>Er du sikker på at du vil slette din bruger?</p>
      <%= button_to "Slet min bruger", user_path, method: :delete, data: { turbo_confirm: "Er du *helt* sikker?" } %>
    </div>
  </details>
</div>
