<% content_for(:title) { "E-mail bekræftelse" } %>

<header>
  <h1><%= content_for :title %></h1>
</header>

<div>
  <%= button_to "Bekræft e-mailadressen #{@user.email_address}", email_address_verification_path(params[:id]), method: :patch %>
</div>
