<% content_for(:title) { "E-mail bekræftelse" } %>

<header class="margin-top-double text-align-center">
  <h1><%= content_for :title %></h1>
</header>

<div class="centered margin-top">
  <%= button_to "Bekræft e-mailadressen #{@user.email_address}", email_address_verification_path(params[:id]), method: :patch %>
</div>