/* Application styles */

:root {
  --space: 1rem;
  --space-double: calc(var(--space) * 2);
}

h1, h2, h3, p, ol, ul, menu, details {
  margin: 0;
}

body { 
  padding: var(--space);
  font-family: system-ui;
}

svg {
  height: 1.5cap
}

.flex { display: flex }
.flex-wrap { flex-wrap: wrap }
.gap { gap: var(--space) }
.justify-space-between { justify-content: space-between }
.align-center { align-items: center }
.align-baseline { align-items: baseline }
.margin-top { margin-top: var(--space) }
.margin-top-double { margin-top: var(--space-double) }
.pad { padding: var(--space) }
.translucent { opacity: .5 }

summary {
  cursor: pointer;

  &:hover {
    outline: 1px dashed rgba(0,0,0,.5);
    border-radius: 10px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  thead th {
    background-color: rgba(0,0,0,.2);
  }
  tbody tr:nth-child(even) {
    background-color: rgba(0,0,0,.1);
  }
  td, th {
    border: 1px solid rgba(0,0,0,.5);
  }
}
