/* Application styles */

* {
  box-sizing: border-box;
}

:root {
  --space: 1rem;
  --space-half: calc(var(--space) / 2);
  --space-double: calc(var(--space) * 2);
}

body, h1, h2, h3, p, ol, ul, menu, details {
  margin: 0;
}

body { 
  background: #f5f5f7;
  font-family: system-ui;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

nav {
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* safari */
}

nav a {
  display: flex;
  color: inherit;
  flex-direction: column;
  font-size: min(calc(1vw + 0.5rem), 1rem)
}
svg {
  height: 1.5cap
}

.flex { display: flex }
.column { flex-direction: column }
.flex-wrap { flex-wrap: wrap }
.gap { gap: var(--space) }
.gap-half { gap: var(--space-half) }
.justify-space-between { justify-content: space-between }
.justify-center { justify-content: center }
.align-center { align-items: center }
.align-baseline { align-items: baseline }
.margin { margin: var(--space) }
.margin-inline { margin-inline: var(--space) }
.margin-inline { margin-inline: auto }
.margin-top { margin-top: var(--space) }
.margin-top-double { margin-top: var(--space-double) }
.pad { padding: var(--space) }
.translucent { opacity: .5 }
.overflow-x-auto { overflow-x: auto }
.text-align-center { text-align: center }
.color-notice { color: green }

.centered {
  max-width: 60ch;
  margin-inline: auto;
}

summary {
  cursor: pointer;

  &:hover {
    outline: 1px dashed rgba(0,0,0,.5);
    border-radius: 10px;
  }
}

details {
  &[open] .hide-when-open { display: none }
}

table {
  width: 100%;
  border-collapse: collapse;

  thead th {
    background-color: rgba(0,0,0,.2);
  }
  tbody tr:nth-child(even) {
    background-color: rgba(0,0,0,.1);
  }
  td, th {
    border: 1px solid rgba(0,0,0,.5);
  }
}

ol:where([class]) {
  list-style: none;
  padding: 0;
}

.input {
  display: block;
  width: 100%;
  padding: 1ch;
  font-size: inherit;
}
.button {
  font-size: inherit;
  padding: 1ch;
}