<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
      /* Email styles need to be inline */
      body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
      }
    </style>
  </head>

  <body>
    <%= yield %>

    <p>VH Zacharias</p>

    <hr />

    <strong>PS:</strong> Hvis du har spørgsmål så send mig en mail på <%= mail_to "z@chari.as" %>.
  </body>
</html>
